@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a class="nav-link text-green" asp-area="" asp-controller="DapperTest" asp-action="Index">
        list all Categories with Dapper
    </a>
    <p>CRUD Api: /DapperTest/Details/:id</p>
   
    
</div>